.button {
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #bbb;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    opacity: 0.8;
}

.clear_both {
    clear: both;
}

.result > div {
    padding: 5px;
}